<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>API Demo Page</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
  <script type = "text/javascript" src = "{{ url_for('static', filename='app.js') }}" ></script>
</head>
<body>
  <div  style='width:90%;margin:auto;'>
    <div class="row">
      <div class="column" style="margin-top: 5%">
   	    <h1>Basic Client Demo (JS)</h1>
   	    <p>If you view the source, HTML aside, the client is all of 6 lines of Javascript in 'app.js' and 5 lines inline.</p>
      	<!-- <input type="button" onclick="queryAPI('/api/urls');" value="Get URLs" /> -->
 	  	  Per page: &nbsp;<input type="text" value="1" id='ppage' />&nbsp;
        Page: &nbsp;<input type="text" value="10" id='apage' />&nbsp;<input type="button" onclick="doParams();" value="Go" />&nbsp;
      	<div style='width:100%;' id='results'>
      	</div>
        <br/>&nbsp;
      	<script>
      		function doParams(para) {
      			let pp = parseInt(document.getElementById('ppage').value);
            let p = parseInt(document.getElementById('apage').value) - 1;
      			queryAPI('/api/urls?perpage='+pp+'&page='+p);
      		}
      	</script>
      </div>
    </div>
  </div>
</body>
</html>
